{% extends 'cashier/base.html' %}

{% block Reciept_active %} active {% endblock %}

{% block page_brand %}Add New Item{% endblock %}

{% block body %}

<div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header card-header-primary">
                            <h4 class="card-title">ADD NEW ITEM</h4>
                            <p class="card-category">ADD</p>
                          </div>
                          <div class="card-body">
                            <form action="" method="post">
                              {% csrf_token %}
                              <div class="row">

                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">ITEM NAME</label>
                                    <input type="text" name="item_name" class="form-control" required>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">SELLING PRICE</label>
                                    <input type="number" name="item_selling_price" class="form-control" required>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">COST PRICE</label>
                                    <input type="number" name="item_cost_price" class="form-control" required>
                                  </div>
                                </div>

                              </div>



                              <button type="submit" class="btn btn-success pull-right">ADD</button>
                              <div class="clearfix"></div>
                            </form>
                          </div>
                        </div>
                      </div>

                    <div class="col-md-4">
                      <button class="btn btn-success pull-right" onclick="showupload()">Import from CSV</button>
                      <div class="clearfix"></div>
                      <div id="upload-invisible" >
                        <form action="{% url 'cashier:uploadedfile'%}" method="post" enctype="multipart/form-data">
                          <!-- <div class="form-group"> -->
                          {% csrf_token %}
                            UPLOAD (data should be arrangend in <strong>name,selling price,available quantity</strong> order)
                            <input type="file" name="uploadedcsvfile"  required>
                            <button type="submit" class="btn btn-success btn-sm">upload</button>
                            <div class="clearfix"></div>
                          <!-- </div> -->
                        </form>
                      </div>
                    </div>
      </div>

{% endblock %}
